{
  description = "{{ description | default(name) }}";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
    flake-utils.url = "github:numtide/flake-utils";
    neo.url = "https://github.com/NeoHaskell/neo/archive/{{ neo_sha }}.tar.gz";
  };

  outputs = { self, nixpkgs, flake-utils, neo }:
    flake-utils.lib.eachDefaultSystem (system:
      let
        pkgs = nixpkgs.legacyPackages.${system};
        haskellPackages = pkgs.haskellPackages;
      in
      {
        devShells.default = pkgs.mkShell {
          buildInputs = with haskellPackages; [
            ghc
            cabal-install
            haskell-language-server
            pkgs.hurl
            neo.packages.${system}.default
          ];
        };
      }
    );
}
